/* GLOBAL */
#content{
    grid-template-areas:
    "header"
    "nav"
    "section"
    "footer";
    grid-template-rows: auto 2vh auto auto;
    grid-template-columns: 1fr;
    position: relative;
}

aside{
    display: none;
}


#banners{
    right: 10%;
    width: 70%;
    height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}
.banner{
    font-size: clamp(0.6rem, 1.8vw, 2rem);

    
    border:  0.20em solid white;
    border-radius: 50px;
    /* margin:; */
    
}
.banner:hover{
    font-size: clamp(0.2rem, 2.2vw, 2.5rem);
    transition: 0.2s;
}
#facebook-banner{
    padding:2% 3%;
    margin-right: 5%;
    transform: rotateZ(-0.01turn);
}
#phone-banner{
    
    padding:2% 3%;
    transform: rotateZ(0.02turn);
    margin-left: 1em;
}

/* #region NAV */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */



/********************OBA NAV****************/

/*              Hamburger               */

#container-nav{
    height: 100vh;
}
#menu-ikon{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.158);
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3em;
    margin-left: 90%;
    
    
    border-radius: 10px;
    padding: 10px;
    border: 0.1em solid white;
    
    position: sticky;
    top: 5px;
    right: 3px;

    /* żeby przycisk był zawsze widoczny */
    z-index: 10;
}
/* zmień ikone hamburgera na X */
#menu-ikon svg:first-child{
    display: none;
}

/*              Menu               */
/* zmiana kierunku nav baru z poziomego na pionowy */
.nav-bar{
    display: none;
    flex-direction: column;
    height: 100vh;
}
.nav-bar li{
    margin: 0;
}
.button:first-child::before,
.button:first-child{
border-radius: 20px 20px 0 0 ;
}
.button:last-child::before,
.button:last-child{
    border-radius:0 0 20px 20px ;
}
.sweets-button{
    display: none;
}




/********************NOWE NAV****************/

/*              Hamburger               */

nav.vertical-nav #menu-ikon svg:first-child{
    display: block;
    width: 1.1em;
}
nav.vertical-nav #menu-ikon svg:last-child{
    display: none;
}

/*              Menu                    */
nav.vertical-nav{
    position: sticky;
    top: 5px;
    width: 100%;
}
/* pozycja nowego nav-baru */
nav.vertical-nav ul{
    display: block;
}
/* rozmiar i style nav-baru */
nav.vertical-nav ul li{   
    width: 80%;
    border: 1px solid black;
    margin-left: 10%;
}
nav.vertical-nav ul li a {
    font-size: clamp(1.5rem, 1.9vw, 2rem);
    padding: 1% 0;
    opacity: 1;
    transition: opacity 1s ease;
}
nav.vertical-nav ul li a svg {
    width: 1em;
    height:auto;
    margin-right:2vw ;
}

    
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* #endregion NAV */






/* #region FOOTER */

#content-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#media-footer span{
    font-size: clamp(0.8rem, 1vw , 1rem);
}
#nav-footer,
#badges-awards, 
#description-footer{
    display: none;
    
}
#contact-footer span a{
    font-size: clamp(0.7rem, 2.5vw, 2rem);
}
/* #endregion Footer */
