#content{
    grid-template-areas:
    "header"
    "nav"
    "section"
    "footer";
    grid-template-rows: auto 0.2fr 2.5fr 0.5fr;
    grid-template-columns: 1fr;
}

aside{
    display: none;
}


/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* 
nav.vertical-ikon
    #menu-ikon
        svg
        svg
    .container-nav
        ul.nav-bar
            li.button
            li.button
            li.button
            li.button
            li.button
            li.button
*/



nav{
    position: relative;
}
nav.vertical-nav{
        position: sticky;
        top: 0px;
}


#menu-ikon{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.158);
    display: flex;

    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    border: 0.1em solid white;
    
    position: fixed;
    top: 1%;
    right: 3px;
    /* żeby przycisk był zawsze widoczny */
    z-index: 10;
}
/* Przełączanie hamburgera na X */
nav svg:first-child{
    display: none;
}
nav.vertical-nav svg:first-child{
    display: block;
    width: 15px;
}
nav.vertical-nav svg:last-child{
    display: none;
}


.container-nav{
    margin-left: 10%;
}
/* pozycja nowego nav-baru */
nav.vertical-nav ul {
    display: block;
    height: 100vh;
    margin: 0 auto;
}
/* rozmiar i style nav-baru */
nav.vertical-nav ul li{
    width: 80%;
    border: 1px solid black;
}
nav.vertical-nav ul li a {
    font-size: clamp(2rem, 1.9vw, 2rem);
    padding: 2% 0;
}

/* zmiana kierunku nav baru z poziomego na pionowy */
.nav-bar{
    display: none;
    flex-direction: column;
}
.nav-bar li{
    margin: 0;
}
.button{
    background: none;
}
.button:first-child::before,
.button:first-child{
border-radius: 20px 20px 0 0 ;
}
.button:last-child::before,
.button:last-child{
    border-radius:0 0 20px 20px ;
}
.sweets-button{
    display: none;
}
    
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */


#banners{
    right: 10%;
    width: 70%;
    height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}
.banner{
    font-size: clamp(0.6rem, 1.8vw, 2rem);

    
    border:  0.20em solid white;
    border-radius: 50px;
    /* margin:; */
    
}
.banner:hover{
    font-size: clamp(0.2rem, 2.2vw, 2.5rem);
    transition: 0.2s;
}
#facebook-banner{
    padding:2% 3%;
    margin-right: 5%;
    transform: rotateZ(-0.01turn);
}
#phone-banner{
    
    padding:2% 3%;
    transform: rotateZ(0.02turn);
    margin-left: 1em;
}

/* FOOTER */

#content-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#media-footer span{
    font-size: clamp(0.8rem, 1vw , 1rem);
}
#nav-footer,
#badges-awards, 
#description-footer{
    display: none;
    
}
#contact-footer span a{
    font-size: clamp(0.7rem, 2.5vw, 2rem);
}