/* 
colors:
#187bbe - ciemny niebieski
#83d4f2  - niebieski
#a8dff3  - j niebieski
#ddf4fa  - b j niebieski
#c01b82  - różowy
#d5539b  - j różowy
*/

/* %%%%%%%%%%%%% NOTATNIK $%%%%%%%%%%%%%%%%%%%%
-za ostre wszystko poprawic grafiki w canva gimp

-chmura cała ma w ramce pasek
-ozdoby umiejscownienie
-ozdoby responsywnosc


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/*================ GLOBAL============== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

    font-family: "McLaren", sans-serif;
  font-weight: 600;
  font-style: normal;
    
}

a{
    color: black;
    text-decoration: none;
}
a:active{
    color: green;
}
ul{
    list-style: none;
}

header{
    grid-area: header;

}
nav{
    grid-area: nav;
    

}
section{
    grid-area: section;
}
article{
    grid-area: article;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}
.button{
  background-color: #d81b74;
  color: white;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button:hover{
    background-color: #e73c8e; 
    transform: scale(1.05)
}
.button:hover #candy1{
    /* display: block;
    position: absolute;
    margin-top: 20px;
    transition: margin-top 2s ease; */
    position: absolute;
    left: 3em;
    margin-top: 20px;
    opacity: 1;

    background-color: red;

}

.button:active {
  background-color: #a01555; 
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}




/*================ GLOBAL============== */

/* ++++++++++++STRONA STARTOWA+++++++++++ */

#content{
    background-color: #ddf4fa;
    min-height: 100vh;
    position: relative;

    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "section"
    "footer";
    grid-template-rows: auto 0.3fr 4fr 1fr;
    grid-template-columns: 1fr;
}

#logo-a{
    position: absolute;
    width: 12vw;
    height: 70%;
    top:10%;
    left: 6vw;
}
#business-card{
    background-color: #83d4f2 ;
    display: flex;
    align-items: center;
    width: 100%;
    height:auto;
    position: relative;
}
#business-card img{
    width: 100%;
    height: auto;
}
#banners{
    position: absolute;
    top:0em;
    right: 20%;
    width: 25%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* szablon banerów informacyjnych */
.banner{
    transition: 0.5s;

    background-color: #c01b82;
    color: white;
    text-align: center;
    font-size: clamp(0.5rem, 1.3vw, 2rem);

    display: flex;
    align-items: center;
    justify-content: center;
    
    border:  0.20em solid white;
    border-radius: 50px;
    margin:0.2em auto;
    
}
/* odstęp logo od napisu w banerze */
#facebook-banner p,
#phone-banner p{
    margin-left: 1vw;
}
.banner:hover{
    
    /* dodac jeszcze ze po najechaniu pokazuje sie cos obok przycisku jakis obrazek staje sie nieprzezroczysty */
    
    
    font-size: clamp(0.2rem, 1.5vw, 2.5rem);
    transition: 0.3s;
}
#facebook-banner{
    padding:2% 3%;
    margin-right: 50%;
    transform: rotateZ(-0.01turn);
}
#phone-banner{
    padding:3% 4%;
    transform: rotateZ(0.02turn);
    margin-left: 3em;
}




.container-nav{
    margin: 2% 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #83d4f2;
    height: 4.5vh;
    box-shadow: 5px 36px 40px 3px rgba(66, 68, 90, 1);
}
.nav-bar li{
    z-index: 10;
    display: inline-block;
    font-size: clamp(0.6rem, 1.2vw, 2rem);  
    padding: 0.2% 1%;
    border-radius: 2em;
    margin: 0 3%;
    position: relative;

}

#candy1{
    /* display: none;
    margin-top: 10px; */
    width: 20%;
    height: 100%;
    position: absolute;
    left: 3em;
    margin-top: 0;
    opacity: 0;
    transition: margin-top 0.5s ease, opacity 0.5s ease;
}

.nav-bar li a svg{
    margin-right: 1vw;
}
.nav-bar li a{
    display: flex;
    align-items:center ;
    justify-content: center;
    color: white;
    width: 9em;
    height: 2.2em;
}




#middle{
    background-color: #ddf4fa;
}
#middle h1{
    margin: 2% 0;
    text-align: center;
    padding: 20px;
    font-size: clamp(1rem, 5.5vw, 3rem);
    font-weight: 800;
    letter-spacing: 0px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
    /* z-index: 1; */
}
#middle p{
    text-align: center;
    font-size: clamp(1rem,2vw,2rem);
    font-weight: 400;
    letter-spacing: -1px;
    padding: 2px;
    max-width: 60%;
    margin: 0 auto;
}

#see-my-services{
    display: flex;
    justify-content: center;
}
#see-my-services h1{
    letter-spacing: 1px;
    text-align: center;
    font-weight: 900;
    font-size: clamp(1rem, 2vw, 3rem);
    padding: 1% 3%;
    margin-top: 5%;
    background-color: #c01b82;
    border-radius: 50px;
    width: fit-content;
    color: white;
    box-shadow: 0px 25px 30px -11px rgba(66, 68, 90, 1);
}
#see-my-services h1:hover{
    
}

#services{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    padding: 5% 0;
}
.service a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    margin-left: 10px;
}
.service a img{
    max-height: 211px;
    max-width: 261px;
    width: 100%;
    height: 100%;
    margin: 0 2em;
}
.service a img:hover{
    transform: scale(1.1);
    padding-bottom: 10px;
    transition: 0.5s;
}

#services label{
    opacity: 0;
    margin-top: 5%;
    font-size: clamp(1rem, 2vw, 3rem);
    font-weight: 600;
}
#services a:hover label{
    opacity: 1;
    transition: 0.7s linear ;

}

.stopka-ex{
    background-color: yellow;
}





#balloon-cloud,
#ball-cloud{
    position: absolute;
    top:35%;
    width: 15%;
    height: 13%;
}
#balloon-cloud{
    right: 0;

}
#ball-cloud{
 left: 0;
}

#balloon-cloud img, 
#ball-cloud img{
    width: 100%;
    height: auto;
    z-index: 1;
}




