/* 
colors:
#83d4f2  - niebieski
#a8dff3  - j niebieski
#ddf4fa  - b j niebieski
#c01b82  - różowy
#d5539b  - j różowy
*/

/* %%%%%%%%%%%%% NOTATNIK $%%%%%%%%%%%%%%%%%%%%



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


*{
    margin: 0;
    box-sizing: border-box;

    /* font-family: "Caveat Brush", cursive;
    font-weight: 500;
    font-style: normal; */

     font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;

}

a{
    color: black;
    text-decoration: none;
}

a:active{
    color: green;
}

a:hover{
    background-color: blue;
}

#content{
    background-color: #ddf4fa;
    min-height: 100vh;
    position: relative;
}

#banners{
    /* width: auto;
    height: auto; */
    position: absolute;
    top: 20px;
    right: 50px;
    width:30%;
}

/* szablon banerów informacyjnych */
.banner{
    background-color: #c01b82;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    text-align: center;

    margin: 5px auto;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 70%;
    transition: 0.5s;
}

#banners:nth-child(2) p{
    margin:0px 10px;
}

.banner:hover{

    /* dodac jeszcze ze po najechaniu pokazuje sie cos obok przycisku jakis obrazek staje sie nieprzezroczysty */
    
    
    font-size: 1.3em;
    width: 80%;
    padding:20px;
    border-radius: 50px;
    transition: 0.5s;
}



#services{
    display: flex;
    flex-direction: row;
}


.service>a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}